<h2>フォロワー一覧ページ</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    フォロワー一覧
  </div>
    
  <div class="panel-body">
    <%= gravatar_for @user %>
    <% @followered_users.each do |relationship| %>
      <span class="label label-info"><%= link_to relationship.name, user_path %></span>
      <%= relationship.email %>
      <br>
    <% end %>
  </div>
</div>