<h1><div Align="left">フォロワー一覧ページ</div></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    フォロワー一覧
  </div>
    
  <div class="panel-body">
    <% @followered_users.each do |relationship| %>
      <div><%= gravatar_for relationship %>
        <span class="label label-info"><%= link_to relationship.name, user_path(relationship.) %></span>
        <%= relationship.email %>
      </div>
      <br>
    <% end %>
  </div>
</div>